{{ $data := index site.Data site.Language.Lang }}
{{ $target_citation_index := .citation }}

{{ if $data.citations.citations.enable }}
{{"<!-- Start Citations -->" | safeHTML}}
{{ with index $data.citations.citations.citations $target_citation_index }}
     <section id="citations" class="citations section-sm bg-1" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
     	<!-- this image is for trigger this section fallback background image -->
     	<img src="{{ .bg_image_webp | absURL }}" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'">
     	<div class="container">
     		<div class="row">
     			<div class="col-lg-12 text-center">
     				<h2>{{ .title | markdownify }}</h2>
     				<p>{{ .content | markdownify }}</p>
     				{{ if .button.enable }}
     				{{ with .button }}
     				<a href="{{ .link }}" class="btn btn-main page-scroll">{{ .label }}</a>
     				{{ end }}
     				{{ end }}
     			</div>
     		</div>
     	</div>
     </section>
{{ end }}
{{"<!-- /citations -->" | safeHTML}}
{{ end }}
