{{ $data := index site.Data site.Language.Lang }}

{{ if $data.credits.credits.enable }}
{{ with $data.credits.credits }}
{{"<!-- Start Credits Section -->" | safeHTML}}
<section id="credits" class="credits section">
	<div class="container">
		<div class="row">
			Con il sostegno del MiBACT e di SIAE nell'ambito del programma "Per Chi Crea"
		</div>
		<div class="row">
			{{ range .perchicreacredits }}
				<img src="{{.logo}}" />
			{{ end }}
		</div>
		Realizzato con il sostegno di 
		<div class="row">
			Film Commission Torino Piemonte – Piemonte Doc Film Fund
		</div>
		<div class="row">
			{{ range .piemontecredits }}
				<img src="{{.logo}}" />
			{{ end }}
		</div>
		<div class="row">
			{{ range .credits }}
				<img src="{{.logo}}" />
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Credits Section -->" | safeHTML}}
{{ end }}
{{ end }}
