{{ $data := index site.Data site.Language.Lang }}

{{ if $data.teamcredits.teamcredits.enable }}
{{ with $data.teamcredits.teamcredits }}
{{"<!-- Start Credits Section -->" | safeHTML}}
<section id="teamcredits" class="teamcredits section">
    <div class="container">
      <p>
        Regia: {{.direction}}
      </p>
      <p>
        Soggetto e sceneggiatura: {{.subject_script}}
      </p>
      <p>
        Produttore: {{.producer}}
      </p>
      <br />
      <p>
        Fotografia: {{.photography}}
      </p>
      <p>
        Suono, musiche e post produzione audio: {{.sound_music_audio_post_production}}
      </p>
      <p>
        Montaggio: {{.editing}}
      </p>
      <p>
        Assistente al montaggio: {{.editing_assistant}}
      </p>
      <br />
      <p>
        Durata: {{.duration}}
      </p>
      <p>
        Produzione: {{.producer_company}}
      </p>
      <p>
        Paese di produzione: {{.producer_country}}
      </p>
      <p>
        Anno: {{.production_year}}
      </p>
    </div>
</section>
{{"<!-- /Credits Section -->" | safeHTML}}
{{ end }}
{{ end }}
