{{ $data := index site.Data site.Language.Lang }}

{{ if $data.teamcredits.teamcredits.enable }}
{{ with $data.teamcredits.teamcredits }}
{{"<!-- Start Credits Section -->" | safeHTML}}
<section id="teamcredits" class="team-credits section">
    <div class="container">
      <p>
        <span>Regia:</span> {{.direction}}
      </p>
      <p>
        <span>Soggetto e sceneggiatura:</span> {{.subject_script}}
      </p>
      <p>
        <span>Produttore:</span> {{.producer}}
      </p>
      <br />
      <p>
        <span>Fotografia:</span> {{.photography}}
      </p>
      <p>
        <span>Suono, musiche e post produzione audio:</span> {{.sound_music_audio_post_production}}
      </p>
      <p>
        <span>Montaggio:</span> {{.editing}}
      </p>
      <p>
        <span>Color grading e post produzione video:</span> {{.color_grading_video_post_production}}
      </p>
      <p>
        <span>Assistente al montaggio:</span> {{.editing_assistant}}
      </p>
      <br />
      <p>
        <span>Durata:</span> {{.duration}}
      </p>
      <p>
        <span>Produzione:</span> {{.producer_company}}
      </p>
      <p>
        <span>Paese di produzione:</span> {{.producer_country}}
      </p>
      <p>
        <span>Anno:</span> {{.production_year}}
      </p>
    </div>
</section>
{{"<!-- /Credits Section -->" | safeHTML}}
{{ end }}
{{ end }}
