{{ $data := index site.Data site.Language.Lang }}

{{ if $data.trailer.trailer.enable }}
{{ with $data.trailer.trailer }}
{{"<!-- Start Trailer Section -->" | safeHTML}}
<section class="bg-one about section" id="trailer">
	<div class="container">
		<div class="row justify-content-center">
			<iframe title="LUST CHANCE - TRAILER" src="https://player.vimeo.com/video/{{ .vimeo_id }}" style="width: 100vw; height: 75vh;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
			</iframe>
		</div>
	</div>
</section>
{{"<!-- /trailer -->" | safeHTML}}
{{ end }}
{{ end }}
