{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "trailer.html" . }}

{{ partial "credits.html" . }}

{{ partial "movie.html" . }}

{{ partial "citations.html" (dict "context" . "citation" 0) }}

{{ partial "teamcredits.html" . }}

{{ partial "citations.html" (dict "context" . "citation" 1) }}

{{ partial "team.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "blog.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}
